<div class="container-fluid">
    <div class="row">
      <!-- Menú Lateral -->
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">
                <span class="bi bi-house-door"></span> Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="autores" routerLinkActive="active">
                <span class="bi bi-people"></span> Autores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/libros" routerLinkActive="active">
                <span class="bi bi-book"></span> Libros
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/prestamos" routerLinkActive="active">
                <span class="bi bi-journal"></span> Préstamos
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Contenedor Principal -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  