<div class="container mt-5">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Libros</h5>
            <p class="card-text display-4">{{ totalLibros }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Autores</h5>
            <p class="card-text display-4">{{ totalAutores }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Préstamos</h5>
            <p class="card-text display-4">{{ totalPrestamos }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  